body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3 !important;
}
.breadcrumb-areas {
    padding: 245px 0 75px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-top: -120px;
  }

.intro-section {
    padding: 100px 0;
    text-align: center;
    color: #000;
}

.intro-title {
    color: #0c7347;
}

.content-container {
    max-width: 70%;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
}

.content {
    font-size: 18px;
    line-height: 1.6;
    text-align: left;
}

.text-background {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 30px;
}


